<div class="container py-5">
  <div class="row">
    <div class="col-lg-6">
      <app-explanation-of-reasons></app-explanation-of-reasons>
    </div>
    <div class="col-lg-6" *ngIf="!submissionSuccess && !submissionError">
      <form [formGroup]="personaForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Formulario de Registro</h4>
          </div>
          <div class="card-body">

            <div class="form-group mb-3">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
            </div>

            <div class="form-group mb-3">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" id="apellido" formControlName="apellido" required>
            </div>

            <div class="form-group mb-3">
              <label for="cedula">Cédula</label>
              <input type="number" class="form-control" id="cedula" formControlName="cedula" required>
            </div>

            <div class="form-group mb-3">
              <label for="estadoPasaporte">Estado del pasaporte</label>
              <select class="form-control" id="estadoPasaporte" formControlName="estadoPasaporte" required>
                <option value="vencido">Pasaporte vencido</option>
                <option value="vencimientoProximo">Pasaporte con vencimiento en los próximos 12 meses</option>
                <option value="primeraVez">Pasaporte por primera vez</option>
                <option value="vigente">Pasaporte vigente</option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="ciudadResidencia">Ciudad de residencia</label>
              <input type="text" class="form-control" id="ciudadResidencia" formControlName="ciudadResidencia" required>
            </div>

            <div class="form-group mb-3">
              <label for="estadoResidencia">Estado de residencia</label>
              <select class="form-control" id="estadoResidencia" formControlName="estadoResidencia" required>
                <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
              </select>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="recibirNotificaciones"
                formControlName="recibirNotificaciones">
              <label class="form-check-label" for="recibirNotificaciones">Deseo recibir un aviso en el caso que haya
                alguna campaña de servicio consular o apertura del consulado</label>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email"
                [disabled]="!personaForm.value.recibirNotificaciones">
            </div>

            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" name="telefono" autocomplete="new-telefono" class="form-control" id="telefono"
                formControlName="telefono" [disabled]="!personaForm.value.recibirNotificaciones" telefonoMask>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="terminosAceptados" formControlName="terminosAceptados"
                required>
              <label class="form-check-label" for="terminosAceptados">
                Acepto el <a href="#" data-toggle="modal" data-target="#modalAceptacionUsoDatos">uso de mis datos
                  personales</a> para la finalidad del censo
              </label>
            </div>

            <div class="d-grid gap-2 mt-3">
              <button type="submit" class="btn btn-primary" [disabled]="!personaForm.valid">Enviar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6" *ngIf="submissionSuccess || submissionError">
      <div *ngIf="submissionSuccess">
        <div class="alert alert-success text-center">
          <h4 class="alert-heading">¡Formulario Enviado!</h4>
          <p>Gracias por completar el formulario</p>
        </div>
      </div>
      <div *ngIf="submissionError">
        <div class="alert alert-danger text-center">
          <h4 class="alert-heading">Hubo un problema</h4>
          <p>{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="isLoading.show">
  <div class="spinner"></div>
  <div class="message">
    <span>Enviando...</span>
  </div>
</div>

<div class="modal fade" id="modalAceptacionUsoDatos" tabindex="-1" role="dialog"
  aria-labelledby="tituloModalAceptacionUsoDatos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalAceptacionUsoDatos">Términos de Aceptación de Uso de Datos Personales
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-acceptance-use-data></app-acceptance-use-data>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>