<div class="card mb-4">
  <div class="card-header">
    <h2 class="mb-0">Censo de Venezolanos en el Nordeste Brasileño</h2>
  </div>
  <div class="card-body">
    <h5>Exposición de Motivos:</h5>
    <p>
      Desde el cierre de nuestro consulado, nos hemos visto privados de la
      posibilidad de mantener nuestros documentos renovados, especialmente
      nuestro pasaporte. Es probable que, en la actualidad, la mayoría de
      nosotros tenga dicho documento vencido.
    </p>
    <p>
      Somos conscientes de que la única opción disponible para la renovación del
      pasaporte es acudir a ciudad de Brasilia en el distrito capital. Sin
      embargo, entendemos que no todos tienen la capacidad de movilizarse hasta
      allí, además de considerar el costo asociado al trámite.
    </p>
    <h5>Nuestro Propósito:</h5>
    <p>
      Estamos haciendo este censo para demostrar ante el personal diplomático de
      la embajada de Venezuela que existe un número considerable de venezolanos
      en el nordeste que justifica la reapertura de nuestro consulado en la
      ciudad de Recife o, en su defecto, la organización de una jornada especial
      en la cual el personal diplomático de la Embajada de Venezuela se desplace
      hasta la ciudad de Recife para recabar los datos de los venezolanos que
      necesitan renovar su pasaporte.
    </p>
    <p>
      Es importante recordar que Recife sigue siendo un punto estratégico para
      la comunidad de venezolanos en el nordeste.
    </p>
    <p>
      Agradecemos de antemano la atención que se brinde a esta solicitud y
      contamos con su colaboración y apoyo en la divulgación. Para más
      información o preguntas, puedes contactarnos en:
      <a href="mailto:venezolanosdelnordetebrasil@gmail.com"
        >venezolanosdelnordetebrasil@gmail.com</a
      >
    </p>
  </div>
</div>
